entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["jdk17"]

[[ports]]
localPort = 3001
externalPort = 8080

[[ports]]
localPort = 5000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 32783
externalPort = 4200

[[ports]]
localPort = 32899
externalPort = 6000

[[ports]]
localPort = 33949
externalPort = 3001

[[ports]]
localPort = 34155
externalPort = 3002

[[ports]]
localPort = 38537
externalPort = 5000

[[ports]]
localPort = 39195
externalPort = 8008

[[ports]]
localPort = 41877
externalPort = 8099

[[ports]]
localPort = 42791
externalPort = 3003

[[ports]]
localPort = 42943
externalPort = 8081

[[ports]]
localPort = 43277
externalPort = 9000

[[ports]]
localPort = 43725
externalPort = 6800

[[ports]]
localPort = 45893
externalPort = 5173

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[agent]
stack = "EXPO"

[deployment]
deploymentTarget = "cloudrun"
publicDir = "static-build"
build = ["node", "scripts/build.js"]
run = ["sh", "-c", "node server.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[objectStorage]
defaultBucketID = "replit-objstore-de99b782-37a1-4217-a63e-b4d544930d8a"
